#root {
    width: 100%;
    overflow-y: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    height: 100dvh;
    max-height: 100dvh;
    min-width: 964px;
    overflow: hidden;

    backdrop-filter: blur(16px);
    background-color: var(--bg-primary);
}