.homebody {
    .home-list {
        margin-block: 20px;
        padding: 10px;

        .header {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;

            .title {
                font-weight: 700;
                font-size: 20px;
                padding-inline: 10px;
            }

            .show-all {
                margin-left: auto;

                button {
                    background-color: var(--bg-secondary);
                    color: var(--btn-color);
                    border: none;
                    padding: 4px 10px;
                    border-radius: 20px;
                    font-size: 13px;
                    font-weight: 600;
                    transition: 0.2s;

                    &:is(:hover, :focus-visible) {
                        background-color: var(--btn-color);
                        color: var(--text-primary);
                        cursor: pointer;
                    }
                }
            }
        }

        .list {
            display: block;
            width: 100%;
            margin-top: 20px;
            overflow: auto hidden;

            &::-webkit-scrollbar {
                display: none;
            }

            .flow {
                display: flex;
            }
        }

        .grid {
            display: grid;
            width: 100%;
            margin-top: 20px;
            grid-template-columns: repeat(auto-fit, 160px);
        }

    }
}