#player {
    width: 100%;
    padding: 10px;
    background-color: var(--bg-tertiary);
    backdrop-filter: blur(16px);

    audio {
        display: none;
    }

    .seek {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;

        .times {
            padding-inline: 10px;
            min-width: 75px;
            font-weight: 600;
            font-size: 13px;
            color: var(--text-secondary);
        }

        .times:last-of-type {
            text-align: right;
        }
    }

    .seeker {
        flex: 1;
        position: relative;
        border-radius: 5px;
        height: 5px;
        min-width: 50px;
        background-color: #0001;

        .buffer {
            position: absolute;
            inset: 0 auto 0 0;
            height: 100%;
            max-width: 100%;
            border-radius: 5px;
            width: var(--buffered);
            background-color: #fff4;
            transition: 0.3s;
        }

        input {
            --progress: 0%;
            display: block;
            width: 100%;
            position: absolute;
            inset: 50% 0 auto;
            height: 100%;
            translate: 0 -50%;
            border-radius: 5px;
            border: none;
            background: #fff2 linear-gradient(to right, #fff 0%, #fff var(--progress), transparent var(--progress), transparent 100%);
            outline: none;
            margin: 0;
            -webkit-appearance: none;
            appearance: none;
            transition: .1s;

            &:disabled {
                opacity: 0.4;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 1em;
                height: 1em;
                cursor: pointer;
                background: #fff;
                border-radius: .5em;
            }
        }
    }

    .flexBox {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-inline: 10px;

        &>* {
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 20px;

            &:not(.controls) {
                flex: 1;
            }
        }

        .thumbnail {

            .cover {
                width: 50px;
                min-width: 50px;
                height: 50px;
                border-radius: 5px;
                background-color: #fff1;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                .switch {
                    background-color: #0007;

                    &:disabled {
                            opacity: 0;
                            visibility: hidden;
                        }

                        &:not(:disabled):is(:hover, :focus-visible) {
                            background-color: #000a;
                            backdrop-filter: blur(4px);
                            width: 100%;
                            height: 100%;
                            border-radius: 0;
                            cursor: pointer;
                        }
                }
            }

            .metadata {
                width: calc(100% - 70px);
                align-self: stretch;
                position: relative;

                .meta-cover {
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    left: 0;
                    right: 0;
                }

                .name,
                .artist {
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .name {
                    font-weight: 600;
                }

                .artist {
                    color: var(--text-secondary);
                    font-size: 13px;
                }
            }
        }

        .switch {
            width: 40px;
            min-width: 40px;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            height: 40px;
            padding: 0;
            font-size: 20px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: 0.1s;

            &:disabled {
                background-color: #0003;
            }

            &:not(:disabled):is(:hover, :focus-visible) {
                background-color: #fff2;
                cursor: pointer;
            }
        }

        .controls {
            justify-content: center;

            .switch:not(:disabled) {
                background-color: #ffffff09;

                &:not(:disabled):is(:hover, :focus-visible) {
                        background-color: #fff2;
                    }
            }

            .state {
                scale: 1.25;
                position: relative;

                .loadSVG {
                    position: absolute;
                    inset: 0;
                }
            }
        }

        .opts {
            justify-content: flex-end;
            gap: 10px;

            .volume {
                max-width: 100px;
            }
        }

    }
}

div:has(>.oasismenu) {
    z-index: 9998 !important;
}

.oasismenu {
    // background-color: var(--bg-primary);
    // max-height: calc(100vb - 120px);
    // max-width: 320px;
    // border-color: #fff2;

    // .oasisitem {
    //     background-color: var(--bg-primary);
    //     color: #fff;

    //     .oasisicon>.image {
    //         width: 30px;
    //         border-radius: 5px;
    //         position: relative;
    //         overflow: hidden;

    //         span {
    //             position: absolute;
    //             inset: 0;
    //             display: flex;
    //             background-color: #000c;
    //             flex-wrap: nowrap;
    //             align-items: center;
    //             justify-content: center;
    //             color: #fff;
    //             font-size: 20px;
    //             transition: 0.2s;

    //             .app-logo {
    //                 scale: 1.5;
    //                 animation: queue_play_rotate 1.25s linear infinite;
    //             }
    //         }

    //         &[data-playing=false] span {
    //             visibility: hidden;
    //             opacity: 0;
    //         }
    //     }

    //     &:not(:disabled).oasishovered {
    //         background-color: var(--bg-tertiary);
    //         cursor: pointer;

    //         .oasisicon>.image>span {
    //             opacity: 1;
    //             visibility: visible;
    //         }
    //     }
    // }

    // .oasisbreak {
    //     background-color: #fff1;
    // }

    .oasisTopic {
        color: var(--text-secondary);
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        padding: 8px 16px;
    }
}

.player-queue-oasis {
    width: 420px;
    padding: 0;

    .player-queue {
        height: calc(100dvh - 150px);
    }
}

.player-download-sync {
    min-width: 335px;
    min-height: 210px;

    .failed {
        color: rgb(255, 17, 0);
    }

    .loading {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}

@keyframes queue_play_rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}